# IDE
.DS_Store
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/uiDesigner.xml

# Ignore nested github checkout
aspiration-ai-internship/

# Ignored file extensions
*.wip.*
*.wip
*conflicted copy*